.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-input-group {
        width: 30%;
        margin-bottom: 50px;
        display: flex; 
        align-items: center;
    }

    .material-symbols-outlined {
        font-size: 24px;
        color: white;
        padding: 5px; 
        border-radius: 50%; 
        background-color: rgba(165, 39, 102, 0.75); 
    }

}

p {
    text-align: center;
}
    
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-input-group {
        width: 30%;
        margin-bottom: 50px;
        display: flex; 
        align-items: center;
    }

}

.login-form .material-symbols-outlined {
    font-size: 24px;
    color: white;
    padding: 5px; 
    border-radius: 50%; 
    background-color: rgba(165, 39, 102, 0.75); 
}